BLUEPRINT_MODE_ENABLED=false
SCHEMA_READER_MODE=db
SCHEMA_READER_DB_DRIVER=sqlite
SCHEMA_READER_DB_HOST=localhost
SCHEMA_READER_DB_PORT=5440
SCHEMA_READER_DB_USERNAME=postgres
SCHEMA_READER_DB_PASSWORD=
SCHEMA_READER_DB_DATABASE=vemto_schema_reader
